<!--投稿部分にはBootstrapのcardというコンポーネントを使用-->
<!--画像と、その詳細について表示するときなどに多く使用されるレイアウト-->
<!--「card」classには以降の子要素で使用するclassが依存する形になります。-->
<div class="card-list-container py-5">
  <% post_images.each do |post_image| %>
  <!-- @post_images → post_images -->
  <!--コントローラから渡された@post_images変数内から1つずつ取り出して、post_image変数へ格納-->
  <div class="card w-50 mx-auto mt-4 shadow-lg">
    <%= link_to post_image_path(post_image.id) do %>
    <!--一覧画面に、詳細画面へのリンクを追加-->
      <%= image_tag post_image.get_image, class:"card-img-top"; %>
      <!--image_tagを使いpost_imageにActiveStorageで設定したimageを表示-->
      <!--post_image.get_imageの部分はPostImageモデル内に記述したメソッドを呼び出している-->
    <% end %>
    <div class="card-body">
    <!--投稿に関する情報を「card-body」classで包括-->
      <div class="row">
        <div class="col-2">
        <!--投稿したユーザーのアイコン画像を表示する領域-->
          <%= image_tag post_image.user.get_profile_image(100,100), class:"mt-3 rounded-circle"; %>
          <!--post_image.user.get_profile_imageと記述することで、投稿画像に紐づいたユーザーのプロフィール画像を表示-->
          <!--@post_imageの投稿者の名前を表示するにはビューに「%= post_image.user.name %」と書く-->
        </div>
        <div class="col-10">
        <!--投稿に関する情報を表示する領域-->
          <p class="card-title">
            <%= link_to(post_image_path(post_image.id), class:"text-dark") do %>
              <strong><i class="far fa-flag"></i><span> <%= post_image.shop_name %></span></strong>
              <!--post_image変数のshop_nameカラムを表示-->
            <% end %>
          </p>
          <p class="card-text">説明：<%= post_image.caption %></p>
          <!--post_image変数のcaptionカラムを表示-->
          <span><i class="fas fa-user"></i> By <%= post_image.user.name %> ｜ </span>
          <!--post_image変数のuser_idに関連付けられているuserモデルのnameカラムを表示-->
          <span><%= link_to "#{post_image.post_comments.count} コメント", post_image_path(post_image.id), class:"text-dark" %></span>
          <!--post_image.post_commentsは親子関係のため記述-->
        </div>
      </div>
    </div>
  </div>
  <% end %>
  <%= paginate post_images %>
  <!--ページネーション(一つの長い文章を複数のページに分割し表示する機能)を利用-->
</div>